/****************************
  variable
*****************************/

// color
$black: #000;
$white: #fff;
$red: #ff0000;



/****************************
  mixin
*****************************/

// image_text
@mixin image_text {
  font-size: 0;
  line-height: 0;
}

// w_100
@mixin w_100 {
  width: 100%;
  height: auto;
}

// h_100
@mixin h_100 {
  width: auto;
  height: 100%;
}

// image
@mixin image {
  @include image_text;
  img {
    @include w_100;
  }
}
